body
{
			padding: 20px; font: 14px/145% "Helvetica Neue", Helvetica, Arial, Sans-serif;
			background: #eeeeee;
}
a, a:link, a:visited { text-decoration: none; }
#title{
   padding-top: 40px;
   margin: auto;
   text-align: center;
}

#answerBlock{
   width:700px;
   height:2000px;
   margin: auto;
   text-align: center;
   padding: 40px;
   line-height: 3em;
}